dist
cmake-build-*
/.idea/
CMakeFiles
/VisualStudio/FHeroes2Enh/Debug/
.vs
/libs/SDL/.*
*.vcxproj.filters
*.vcxproj.user
*.ilk
/DATA/*
/MAPS/*
/MUSIC/*
/*.dll
/SOUND/
/GAMES/*
/FHeroes2Enh.exe
/files/images/*
/files/music/*
/VisualStudio/FHeroes2Enh/Release/
/files/save/
