dist
cmake-build-*
/.idea/
CMakeFiles
/VisualStudio/FHeroes2Enh/Debug/
.vs
/libs/SDL/.*
*.vcxproj.user
*.ilk
/DATA/*
/MAPS/*
/MUSIC/*
/*.dll
/SOUND/
/GAMES/*
/FHeroes2Enh.exe
/files/images/*
/files/music/*
/VisualStudio/FHeroes2Enh/Release/
/files/save/
/VisualStudio/FH2Q/Debug/*
/VisualStudio/FH2Q/Release/*
/VisualStudio/FHeroes2Enh/Win32/*
/FH2Q.exe
/VisualStudio/FHeroes2Enh/x64/*
/out/
.idea
obj
/src/FH2Setup/FH2Setup/bin/*
/src/Installer/Installer/bin/*
/VisualStudio/FHeroes2Enh/packages/*
*.DotSettings.user
/src/Fh2Launcher/lib/i*
/Fh2Launcher.exe
/src/Fh2Launcher/backup/*
